@import url("https://fonts.googleapis.com/css?family=Overpass");

.top-side {
  position: absolute;
  height: 100vh;
  width: 100%;
  background: #ffc6f5;
  /* background: #ffc6f5 url(light-paper-fibers.png) left top repeat; */
  z-index: 3;
  overflow: hidden;
  /*border: 2px solid rgb(20, 243, 236);*/
}

.bottom-side {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #ffc6f5;
  /*overflow: hidden;*/
  z-index: 3;
  /*border: 1px solid red;*/
}

.hover {
  position: absolute;
  float: left;
  height: 70px;
  width: 70%;
  margin: 0 15%;
  cursor: none;
  overflow: hidden;
}

.bit-top {
  position: absolute;
  left: 0%;
  top: 0%;
  height: 5px;
  width: 10px;
  background: #fff;
}

.bit-top-left {
  position: absolute;
  left: 0%;
  top: 5px;
  height: 5px;
  width: 5px;
  background: #fff;
}

.bit-top-right {
  position: absolute;
  right: 0%;
  top: 0%;
  height: 5px;
  width: 10px;
  background: #fff;
}

.bit-top-right-2 {
  position: absolute;
  right: 0%;
  top: 0px;
  height: 10px;
  width: 5px;
  background: #fff;
}

.bit-bottom-left {
  position: absolute;
  bottom: 0%;
  left: 0px;
  height: 10px;
  width: 5px;
  background: #fff;
}

.bit-bottom-left-2 {
  position: absolute;
  bottom: 0%;
  left: 0px;
  height: 5px;
  width: 10px;
  background: #fff;
}

.bit-bottom-right {
  position: absolute;
  bottom: 0%;
  right: 0px;
  height: 5px;
  width: 10px;
  background: #fff;
}
.bit-bottom-right-2 {
  position: absolute;
  bottom: 0%;
  right: 0px;
  height: 10px;
  width: 5px;
  background: #fff;
}

.blur {
  position: absolute;
  color: #ffffff;
  font-family: "Overpass", sans-serif;
  font-size: 64px;
  letter-spacing: 20px;
  margin: auto;
  width: 100%;
  filter: blur(4px);
  cursor: none;
  overflow: hidden;
  text-align: center;
  z-index: 3;
}

.focus {
  position: relative;
  color: #ffffff;
  font-family: "Overpass", sans-serif;
  font-size: 64px;
  letter-spacing: 20px;
  margin: auto;
  width: 100%;
  height: 70px;
  filter: blur(0px);
  cursor: none;
  overflow: hidden;
  text-align: center;
  z-index: 2;
}

.ap {
  letter-spacing: 13px;
}

.container {
  border: solid rgb(36, 202, 102) 4px;
  position: absolute;
  height: 100%;
  /* margin-top: 20vh; */
  /* width: 100%; */
  width: 3fr;
  overflow: hidden;
  justify-content: center;
}

.container-projet {
  margin-top: 20%;
}

body {
  /* background: #ffc6f5; */
  margin: 0;
  padding: 0;
  /* cursor: none; */
  background: #ffc6f5;
}

.vertical-txt {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  margin: auto;
}

/* BLOB */

#container-blob {
  position: relative;
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 1fr;
 width: 100%;; */
}

#container-blob .blob {
  position: relative;
  filter: blur(5px);
}

#container-blob .bio {
  text-align: center;
  color: rgb(21, 21, 166);
  position: absolute;
  top: 40%;
  margin: 0 15%;
}
