/* COULEURS */

/* TITRES */

h2 {
  font-family: "Bodoni Moda", serif;
  font-style: italic;
  text-align: center;
  bottom: 0;
  font-size: 1.3em;
}

h3 {
  z-index: 10;
  position: absolute;
  top:40%;
  left:50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.2em;
}

/*-------------------------------------*/
/*---MEDIAS-QUERIES--------------------*/

@media only screen and (max-width: 420px) {
  h2 {
    font-size: 1.1em;
  }
}