/* grid-row-2-column-1 */

.icone {
  position: relative;
  display: block;
  padding: 5px;
  margin: auto ;
  top: 10%;
  width : 25px;
  height : 25px;
}

.vertical-ligne {
  height: 100px;
  margin-left: 48%;
  margin-top:70%;
}

.vertical-txt {
  font-family: 'Bodoni Moda', serif;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  padding: 50% 45% 50% 50%;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.6em;
  text-transform: uppercase;
  font-size: 12px;
}

/*---Medias-queries---------------------*/

@media only screen and (max-width: 420px) {
  .vertical-ligne,.vertical-txt {
    /* display: none; */
    visibility: hidden;
  }
}
