@import url("https://fonts.googleapis.com/css?family=Overpass");

.top-side {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 3;
  overflow: hidden;
  /*border: 2px solid rgb(20, 243, 236);*/
}

.bottom-side {
  position: absolute;
  height: 100%;
  width: 100%;
  /*overflow: hidden;*/
  z-index: 3;
  /*border: 1px solid red;*/
}

.hover {
  position: absolute;
  float: left;
  height: 40px;
  width: 70%;
  margin: 0 15%;
  cursor: none;
  overflow: hidden;
}

.blur {
  position: absolute;
  font-family: "Overpass", sans-serif;
  font-size: 40px;
  letter-spacing: 20px;
  margin: auto;
  width: 100%;
  filter: blur(4px);
  cursor: none;
  overflow: hidden;
  text-align: center;
  z-index: 3;
}

.focus {
  position: relative;
  font-family: "Overpass", sans-serif;
  font-size: 40px;
  letter-spacing: 20px;
  margin: auto;
  width: 100%;
  height: 40px;
  filter: blur(0px);
  cursor: none;
  overflow: hidden;
  text-align: center;
  z-index: 2;
}

.ap {
  letter-spacing: 13px;
}

.container {
  /* border: solid rgb(116, 233, 163) 4px; */
  position: relative;
  height: auto;
  width: 3fr;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  /* cursor: none; */
}

.grid-row-2-column-3 {
  margin: 0 0 0 auto;
}

a:hover, a {
  text-decoration: none;
}
