<div class="contact" id="contact">
    <!-- <div class="aligne"> -->
    <h4 class="titre-contact changeCouleur">con</h4>
    <h4 class="titre-contact-it changeCouleur">tact</h4>
    <div class="adresse-mail">julie.goncalves.dev@gmail.com</div>
</div>
