<!-- PROJETS -->

<!-- conteneur de gauche -->
<div class="grid-row-4-column-1">
  <div class="container-canvas">
    <canvas id="canvas"></canvas>
    </div>
  <div class="vertical-txt-p changeCouleur">Projets incroyables en cours</div>
</div>

<!-- conteneur du centre -->
<div id="projet" class="grid-row-4-column-2">
  <div class="container-video">
    <h3 class="changeCouleur" id="resultat-citation"></h3>
    <!---video-------------------->
    <video id="video" src="css/projets/cosmos.mp4" autoplay loop muted></video>
    <!---SVG-boule-de-cristal----->
    <img
      id="boule-cristal-rose"
      class="boule-cristal"
      src="css/projets/boule-rose.svg"
      alt="boule-cristal"
    />
    <img
      id="boule-cristal-bleue"
      class="boule-cristal"
      src="css/projets/boule-bleue.svg"
      alt="boule-cristal"
    />
    <img
      id="boule-cristal-blanche"
      class="boule-cristal"
      src="css/projets/boule-blanche.svg"
      alt="boule-cristal"
    />
  </div>
  <!---------------------------->
  <div class="container-titre-boule">
    <h2 class="changeCouleur">
      Posez votre question <br />et cliquez sur la boule
    </h2>
  </div>
</div>

<!-- conteneur de droite -->
<!---titre-"projet"----------->
<div class="grid-row-4-column-3">
  <div class="titre-projets">
    <h1 class="h2-l1-p changeCouleur">pro</h1>
    <h1 class="h2-l2-p changeCouleur">jets</h1>
  </div>
</div>
<!-- </div> -->

<!-- <div class="1"></div>
<div class="2"></div>
<div class="3"></div>
<div class="container-row-4">
  <canvas id="canvas"></canvas>
<div class="4"></div>
<div class="5"></div>
<div class="6"></div>

</div> -->

<!-- je souhaite que mon canvas s applique sur/ en supperposition sur les trois div du container-row-4 -->
<!-- j'ai mis "container-row-4" en position relative et "canvas" en position absolute -->
<!-- pourtant mon animation canvas s applique plus ha a partir de la div 1  -->


<!-- le tout est contenu dans une grid general  -->
<!-- ce qui casse l organisation, lorsque je rajoute "container-row-4, pour inserer mon canvas -->
<!-- comment puis regler ce probleme ? -->